
.Course_Card{
    overflow: hidden;
    position: relative;
    /* background-color: brown;   */

    
}
.Course_Card:hover{   
   
    transition: all 0.2s;   
    transform: scale(1.05);
 

}
.Announcement_Section{

 
    /* background-color: var(--main);

    color: rgb(233, 224, 224); */
}
.Announcement{
    color: black;
    margin-bottom: 50px;
    
}
.Announcement:hover{
    background-color: #1d1d36;
    color: white;
}


